@keyframes uncorrectWord {
    25% {
        transform: translateX(1em);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-1em);
    }
    100% {
        transform: translateX(0);
    }
}
