/*
Contents 
1. *
2. -
3. -
4. -
*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    max-width: 100vw;
    display: grid;
    place-items: center;
}
